@using ald = AquaLearn.Domain.Models;
@using avm = AquaLearn.MVCClient.ViewModels;
@model AquaLearn.MVCClient.Models.UserModel

@using (@Html.BeginForm("RegisterTeacher", "User"))
{
    <div class="row">
        <div class="col-sm-6" style="padding:10px;">
            @Html.LabelFor(m => m.Username, "Create Username")
            @Html.TextBoxFor(m => m.Username)
        </div>
        <div class="col-sm-6" style="padding:10px;">
            @Html.LabelFor(m => m.Password, "Create Password")
            @Html.PasswordFor(m => m.Password)
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="padding:10px;">
            <h3>Create a Classroom Name: </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12" style="padding:10px;">
            <div class="form">

                @Html.LabelFor(m => m.Name, "Classroom Name")
                @Html.TextBoxFor(m => m.Name)
                <br />
                <p style="color:red;">Your students will need to choose your classroom when they register.</p>
            </div>
        </div>
    </div>

    <div class="regbutton">
        <button type="submit" class="btn btn-dark waves-effect" id="regbutton">Register</button>
    </div>
}
