@model AquaLearn.Client.Models.ExhibitViewModel
@using AquaLearn.Domain.Models;
@{
    ViewData["Title"] = "Home Page";
}

<body style="background-size: cover; background-image: url(https://cdn5.vectorstock.com/i/1000x1000/42/04/cartoon-shark-pirate-swimming-in-the-ocean-vector-6594204.jpg)">
    <div class="text-center">
        <h1 class="display-4">Welcome to Aqua Learn!</h1>
        <p>Create and account or login to learn about me and my crew! Explore or natural habitats and learn how to help keep our home clean!</p>
    </div>

</body>

<div class="row">
    <div class="col" style="display:flex; justify-content:center;">
        <canvas id="myCanvas" width="1080" height="480" style="border:1px solid #000000;"></canvas>
    </div>
</div>



<script>
    @{
        // C# to JS
        var Exhibit = new Exhibit();
        Model.Fishes = Exhibit.Fishes;
        Model.Vector3Current = new float[] { 0, 0, 0 };
        @:var ctx = draw();

        for (var i = 0; i < Model.Fishes.Count; i++)
        {
            Model.Vector3Current = Exhibit.PlaceMoving();
            for (var a = 0; a < Exhibit.Vector3Current.Length; a++)
            {

                Model.Vector3Current[a] = Exhibit.Vector3Current[a];
            }
            @:drawSquares(@Model.Vector3Current[0], @Model.Vector3Current[1], @Model.Vector3Current[2]);
        }

        for (var i = 0; i < Model.Fishes.Count; i++)
        {
            Model.Vector3Current = Exhibit.PlaceStill();
            for (var a = 0; a < Exhibit.Vector3Current.Length; a++)
            {

                Model.Vector3Current[a] = Exhibit.Vector3Current[a];
            }
            @:drawRectangles(@Model.Vector3Current[0], @Model.Vector3Current[1], @Model.Vector3Current[2]);
        }
    }

    function draw() {
        var myGameArea = document.getElementById("myCanvas");
        if (myGameArea.getContext) {
            ctx = myGameArea.getContext('2d');
        }
        return ctx;
    }

    function drawSquares(x, y, z) {
        ctx.fillRect(x, y, 50, 50);
    }

    function drawRectangles(x, y, z) {
        ctx.fillRect(x, y, 50, 50);
    }
</script>
