@model AquaLearn.MVCClient.Models.ExhibitModel

@{
    ViewData["Title"] = "Exhibit";
}


<h1>Habitat</h1>

<style>
    figure {
        display: inline-block;
        text-align: center;
        justify-content: center;
        border: 2px solid #aaaaaa;
        width: 65%;
        margin-left: 195px;
    }

    article {
        border: 2px solid #aaaaaa;
    }
</style>

<div>
    <div>
        <button type="button" onclick="changeExhibit(this.id)" id="_DeepOcean">Deep Sea</button>
        <button type="button" onclick="changeExhibit(this.id)" id="_CoralReef">Coral Reef</button>
        <button type="button" onclick="changeExhibit(this.id)" id="_Pollution">Pollution</button>
    </div>

    <div id="placeholder">
        <div style="display:flex; justify-content:center;">
            <canvas id="myCanvas" width="720" height="480" style="border:1px solid #000000;"></canvas>
        </div>
        <figure>
            <article>
                <h2 id="nameOfObj">
                    AquaLearn
                </h2>
            </article>
            <article>
                <h3 id="descOfObj">
                    Click anything to learn more about it.
                </h3>
            </article>
        </figure>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        // INITIALIZE
        var myGameArea = document.getElementById("myCanvas");
        var ctx = myGameArea.getContext('2d');
        var fishSpriteSheet = new Image();
        fishSpriteSheet.src = "@Url.Content("~/images/fishSpriteSheet.png")";
        var runExhibit = true;
            // C# to JS conversion
        var mouseX;
        var mouseY;
        var fishNames = [];
        var fishDescriptions = [];
        var fishSchooling = [];
        var fishWaterType = [];
        var plantNames = [];
        var plantDescriptions = [];
        var trashNames = [];
        var trashDescriptions = [];
        var trashSchooling = [];
        var trashWaterType = [];
        // Fish per exhibit
        var fishExDeepNameSingle = [];
        var fishExDeepDescSingle = [];
        var fishExDeepNameSchool = [];
        var fishExDeepDescSchool = [];
        var fishExCoralNameSingle = [];
        var fishExCoralDescSingle = [];
        var fishExCoralNameSchool = [];
        var fishExCoralDescSchool = [];
        var fishExPollNameSingle = [];
        var fishExPollDescSingle = [];
        var fishExPollNameSchool = [];
        var fishExPollDescSchool = [];
    @foreach (var fish in Model.Fishes)
    {
        @:fishNames.push("@fish.Name");
        @:fishDescriptions.push("@fish.Description");
        @:fishSchooling.push("@fish.Schooling");
        @:fishWaterType.push("@fish.ExhibitId");
    }
    @foreach (var plant in Model.Plants)
    {
        @:plantNames.push("@plant.Name");
        @:plantDescriptions.push("@plant.Description");
    }
    @foreach (var trash in Model.Trash)
    {
        @:trashNames.push("@trash.Name");
        @:trashDescriptions.push("@trash.Description");
        @:trashSchooling.push("@trash.Schooling");
    }
    // *******************
    // CLICK EVENT HANDLING
    // *******************
    myGameArea.addEventListener("click", (e) => {
    if (e.pageX != undefined && e.pageY != undefined) {
    mouseX = e.pageX;
    mouseY = e.pageY;
    }
    else {
    mouseX = e.clientX + document.body.scrollLeft +
    document.documentElement.scrollLeft;
    mouseY = e.clientY + document.body.scrollTop +
    document.documentElement.scrollTop;
    }
    mouseX -= myGameArea.offsetLeft;
    mouseY -= myGameArea.offsetTop;
    clicked = true;
    }, false);
    </script>

    <script type="text/javascript" src="~/js/exhibitDisplay.js"></script>
}
