@using ald = AquaLearn.Domain.Models;
@using avm = AquaLearn.MVCClient.ViewModels;
@model AquaLearn.MVCClient.Models.UserModel
@{
    ViewData["Title"] = "Profile";
}

<div>
    @{
        if (Model.RoleId == 1)
        {
            <h2>@Model.Username's @Model.ClassroomName</h2>
            var Students = Model.Students;
            if (Model.Students.Count > 0)
            {
                <ol>
                    @foreach (var stu in Model.Students)
                    {
                        <li>
                            <p>@stu.Username</p>
                        </li>
                    }
                </ol>
            }
            else
            {
                <p>There are no students in your class.</p>
            }
        }
        else
        {
            <h2>@Model.Username's @Model.ClassroomName</h2>
            <p>Take a swim and enjoy the sights.</p>
        }
    }
</div>